.gallery__caption
    +use-latoFont(rem(48px), #191919, 600)
    text-transform: uppercase
    margin-bottom: 0

.gallery-span
    font-weight: 100
    display: block

.gallery__desc
    +use-latoFont(rem(15px), #888888, 100)
    text-align: justify
    margin: 0
    padding-top: 25px

.gallery__items
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    img
        width: 100%
        height: 100%
        object-fit: cover

.gallery__item
    width: 23%
    margin-top: 25px
    margin-right: 10px
    position: relative
    &:before
        content: ''
        display: block
        position: absolute
        opacity: 0
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, .7)
        transition: .5s ease
    &:after
        content: '\f00e'
        font-family: 'FontAwesome'
        position: absolute
        top: 50%
        margin-top: -18.5px
        display: block
        opacity: 0
        left: 50%
        margin-left: -17px
        color: #dfdfdf
        font-size: 36px
        transition: .5s ease

.gallery__item:hover:before,
.gallery__item:hover:after
    opacity: 1