.header
	background: #191919
	padding-top: 35px
	padding-bottom: 130px
	position: relative

.logo
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	+media(interval2)
		display: block

.logo__item
	width: 21%
	text-align: right
	+media(interval2)
		width: 100%
		text-align: center

.logo-center
	width: 38%
	text-align: center
	+media(interval2)
		margin-bottom: 25px

.tel
	color: #fff
	margin-top: 9%
	+use-latoFont(rem(24px))
	font-weight: 300
	margin: 0
	padding-top: 90px
	+media(interval3)
		font-size: rem(18px)
	+media(interval2)
		padding-top: 0
		padding-bottom: 20px
		font-size: rem(24px)
	+media(interval4)
		font-size: rem(18px)
	+media(tablet)
		text-align: left

.logo__link
	width: 39%
	color: #fff
	text-decoration: none
	+use-greatVibesFont(rem(115px))
	+media(interval2)
		display: inline-block
	+media(tablet)
		width: 75%
	+media(phone)
		width: 100%


.logo-span
	display: block
	margin-top: -65px

.fa-vk
	margin-top: 30%
	margin-right: 5px
	background: #fff
	color: #191919
	font-size: rem(30px)
	padding: 15px 15px
	border-radius: 50%
	border: 2px solid #000
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 1)
	+media(interval2)
		margin-top: 0
		margin-bottom: 45px

.top-line__nav
	+media(tablet)
		position: absolute
		top: 0
		left: 0
		background: #191919
		width: 100%
		min-height: 100vh
		transition: .7s ease-in-out
		transform: translateY(-100%) scale(0)

.nav__list
	margin: 0
	padding: 0
	text-align: center

.nav__item
	list-style: none
	display: inline-block
	+media(tablet)
		display: block
		margin-top: 40px
		transform: scale(0)
		transition: 1.2s ease-in-out

.nav__link
	text-decoration: none
	+use-latoFont(rem(19px), #fff, 400)
	text-transform: uppercase
	padding: 15px
	transition: .3s ease
	+media(interval)
		font-size: rem(15px)
	&:hover
		color: #c7c6c6

.if-active
	transform: translateY(0) scale(1) !important

.if-active-item
	transform: scale(1) !important